<h1><%= @user.full_name %></h1>

<%= render partial: "follow_button", locals: { user: @user } %>

</br>

Username: <%= @user.username %> </br>
Email: <%= @user.email %>
</br>
</br>
</br>

<%= link_to("Following(#{@user.follow_count})", following_user_path(@user.username)) %></br>
<%= link_to("Followers(#{@user.followers_count})", followers_user_path(@user.username)) %></br>

<%= render partial: "tweets/tweets", locals: { tweets: @tweets } %>
